@model MedicinesVM
@{
    ViewData["Title"] = "AddMedicine";
}

<h1>AddMedicine</h1>

<h4>MedicinesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="AddMedicine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MName" class="control-label">Medicine Name:</label>
                <input asp-for="MName" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPrice" class="control-label">Medicine Price:</label>
                <input asp-for="MPrice" class="form-control" />
                <span asp-validation-for="MPrice" class="text-danger"></span>
            </div>

            <div class="form-group">

                <div class="form-group">
                    <label asp-for="CId" class="control-label">Category:</label>
                    <select asp-for="CId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"CId","CName"))">
                    </select>
                    <input type="hidden" asp-for="@Model.CId" />
                </div>
            </div>

            <div class="form-group">

                <div class="custom-file">
                    <label id="l1" class="custom-file-label">choose</label>
                    <input id="i1" type="file" asp-for="MImage" class="form-control custom-file-input" />

                    <input type="hidden" asp-for="@Model.CId" />
                </div>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsAvailable" />
                <label class="form-check-label">Available</label>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<Script>
        $(document).ready(function () {
            $("#i1").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next("#l1").html(fileName);
            });
        });
</Script>
